.application-container {
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;

  h2 {
    margin-bottom: 16px;
    color: #fff;
  }

  button {
    margin-bottom: 16px;
  }

  table {
  width: 100%;
  background: #1e272e;

  th,
  td {
    color: #e0f7fa !important;
    padding: 8px;
  }

  th {
    background: #1e2a30;
  }

  .mat-row:hover {
    background: #2a3b3d;
  }
}



  mat-paginator {
    background: #1e272e;
    color: #fff;
    margin-top: 12px;
    border-radius: 8px;
  }
}
